body {
	background-color: #FFC46C;
	background-size: cover;
}

b, p, dt {
	font-family: Verdana,sans-serif;
	color: #69443C;
}

#again {
		font-family: Verdana,sans-serif;
		color: white;
		font-weight: bold;
}

#message {
		font-size: xx-large;
}

.container {
  height: 1000px;
  position: relative;
  background-image: url('images/splash.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px 1000px;
	display: flex;
  justify-content: center;
  width: 100%;
}

.vertical-center {
  margin: 0px;
  position: absolute;
  top: 15%;
  bottom: 50%;
  left: 25%;
  right: 25%;
	width: auto;
	transform: scale(1.1)
}

.left-container {
	margin: 0px;
	position: absolute;
	top: 25%;
	bottom: 50%;
	left: 0%;
	right: 75%;
	width: auto;
}

.right-container {
	margin: 0px;
	position: absolute;
	top: 20%;
	bottom: 65%;
	left: 70%;
	right: 10%;
	width: auto;
}

.main-button {
  border-radius: 12px;
  background-color: white;
  border: white;
  width: 250px;
  height: 30px;
	margin: 5px;
	transform: scale(1.1);
}

.main-button:hover {
	transform: scale(1.2);
}

.grey-button {
  border-radius: 12px;
  background-color: #A6A6A6;
  border: white;
  width: 250px;
  height: 30px;
	margin: 5px;
	transform: scale(1.1);
}

.grey-button:hover {
	transform: scale(1.2);
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);
	justify-content: center;
	border: 2px solid white;
	grid-gap: 0px;
	height: 500px;
	width: 500px;
}

.battleship-grid .square {
  border: 1px solid white;
}

.bread-vertical {
	height: 150px;
	width: 50px;
	background-image: url('images/bread.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.bread-vertical:hover {
	transform: scale(1.2);
}

.bread-horizontal {
	height: 50px;
	width: 150px;
	background-image: url('images/bread-hor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.bread-horizontal:hover {
	transform: scale(1.2);
}

.pocky-vertical {
	height: 150px;
	width: 50px;
	background-image: url('images/pocky.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.pocky-vertical:hover {
	transform: scale(1.2);
}

.pocky-horizontal {
	height: 50px;
	width: 150px;
	background-image: url('images/pocky-hor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.pocky-horizontal:hover {
	transform: scale(1.2);
}

.bento-vertical {
	height: 150px;
	width: 100px;
	background-image: url('images/bento.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.bento-vertical:hover {
	transform: scale(1.2);
}

.bento-horizontal {
	height: 100px;
	width: 150px;
	background-image: url('images/bento-hor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.bento-horizontal:hover {
	transform: scale(1.2);
}

.donut-vertical {
	height: 100px;
	width: 100px;
	background-image: url('images/donut.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.donut-vertical:hover {
	transform: scale(1.2);
}

.donut-horizontal {
	height: 100px;
	width: 100px;
	background-image: url('images/donut-hor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.donut-horizontal:hover {
	transform: scale(1.2);
}

.pizza-vertical {
	height: 150px;
	width: 150px;
	background-image: url('images/pizza.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.pizza-vertical:hover {
	transform: scale(1.2);
}

.pizza-horizontal {
	height: 150px;
	width: 150px;
	background-image: url('images/pizza-hor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.pizza-horizontal:hover {
	transform: scale(1.2);
}

.grid-computer > .square {
	cursor: url('images/cursor.cur'), auto;
}

.grid-computer > .square:hover {
	background-color: #D1825C;
	// cursor: url('images/cursor.cur'), auto;
}

.hit {
	height: 50px;
	width: 50px;
	background-image: url('images/hit.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 4;
}

.miss {
	height: 50px;
	width: 50px;
	background-image: url('images/miss.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 4;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	justify-content: center;
	border-radius: 20px;
  background-color: #fefefe;
  margin: 0px;
	// padding: 20px;
  width: 500px;
	height: 500px;
	position: absolute;
	// left: 33.33%;
	top: 45%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%) scale(1.2);
}

.winning {
	background-image: url('images/confetti.gif');
	background-size: 600px 600px;
	background-repeat: no-repeat;
	background-position: center;
}

.losing {
	background-image: url('images/lose.gif');
	background-size: 600px 600px;
	background-repeat: no-repeat;
	background-position: center;
}
