body {
	background-color: #FFC46C;
	background-size: cover;
}

b {
	font-family: Verdana,sans-serif;
	color: #69443C;
}

.container {
  height: 1000px;
  position: relative;
  background-image: url('splash.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px 1000px;
	display: flex;
  justify-content: center;
  width: 100%;
}

.vertical-center {
  margin: 0px;
  position: absolute;
  top: 15%;
  bottom: 50%;
  left: 25%;
  right: 25%;
	width: auto;
}

.left-container {
	margin: 0px;
	position: absolute;
	top: 25%;
	bottom: 50%;
	left: 0%;
	right: 75%;
	width: auto;
}

.main-button {
  border-radius: 12px;
  background-color: white;
  border: white;
  width: 250px;
  height: 30px;
	margin: 5px;
}

.main-button:hover {
	transform: scale(1.2);
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);
	justify-content: center;
	border: 2px solid white;
	grid-gap: 0px;
	height: 500px;
	width: 500px;
}

.battleship-grid .square {
  border: 1px solid white;
}

.bread-vertical {
	height: 150px;
	width: 50px;
	background-image: url('bread.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.bread-vertical:hover {
	transform: scale(1.2);
}

.bread-horizontal {
	height: 50px;
	width: 150px;
	background-image: url('bread-hor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.bread-horizontal:hover {
	transform: scale(1.2);
}

.pocky-vertical {
	height: 150px;
	width: 50px;
	background-image: url('pocky.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.pocky-vertical:hover {
	transform: scale(1.2);
}

.pocky-horizontal {
	height: 50px;
	width: 150px;
	background-image: url('pocky-hor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.pocky-horizontal:hover {
	transform: scale(1.2);
}

.bento-vertical {
	height: 150px;
	width: 100px;
	background-image: url('bento.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.bento-vertical:hover {
	transform: scale(1.2);
}

.bento-horizontal {
	height: 100px;
	width: 150px;
	background-image: url('bento-hor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.bento-horizontal:hover {
	transform: scale(1.2);
}

.donut-vertical {
	height: 100px;
	width: 100px;
	background-image: url('donut.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.donut-vertical:hover {
	transform: scale(1.2);
}

.donut-horizontal {
	height: 100px;
	width: 100px;
	background-image: url('donut-hor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.donut-horizontal:hover {
	transform: scale(1.2);
}

.pizza-vertical {
	height: 150px;
	width: 150px;
	background-image: url('pizza.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.pizza-vertical:hover {
	transform: scale(1.2);
}

.pizza-horizontal {
	height: 150px;
	width: 150px;
	background-image: url('pizza-hor.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
}

.pizza-horizontal:hover {
	transform: scale(1.2);
}
